.timer {
	display: flex;

	gap: 16px;
	padding-bottom: 24px;

	&__el {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 60px;
		height: 60px;
		background-color: #fff;
	}

	&__value {
		font-family: var(--font-accent);
		font-size: 34px;
		font-weight: 500;
		letter-spacing: -0.6px;
		line-height: 1.11;
		color: #141718;
	}

	&__desc {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.6666;
		color: #141718;
		position: absolute;
		bottom: -20px;
	}
}