.value {

	width: 262px;
	height: 220px;
	background-color: #F3F5F7;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	align-content: center;

	padding: 48px 32px;

	&__img {
		margin-bottom: 16px;
	}

	&__title {
		font-size: 20px;
		line-height: 1.4;
		font-family: var(--font-accent);
		font-weight: 500;
		color: #141718;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7142;
		font-family: var(--font-accent);
		font-weight: 500;
		color: #6C7275;
	}
}